.rohit p{
    background:yellow
   }
.fuck {
    background:brown;
   }
.dude {
    background-color:red;
}
.names {
    float: left;
    background:blue;
    padding-left: 20px;
    padding-right: 20px;
}
.monkey {
    background: blueviolet;
}
.ads {
    float: right;
    background: cadetblue;
}
